.pageWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .noMoviesFound {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }
}

.movieGrid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;

  .fullWidth {
    width: 100%;
  }
}
