.pageWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movieGrid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
