.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.textBlock {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.grid {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;

  .full {
    width: 100%;
  }
}
