.footer {
  background-color: var(--color-primary-main);
  color: var(--color-text-primary);
  padding: 15px 20px;
  text-align: center;
  margin-top: auto;

  h3 {
    font-size: var(--font-size-large);
    margin: 0;
  }
}
