.errorMessage {
  background-color: var(--color-primary-main);
  padding: 20px;
  border: 1px solid var(--color-secondary-main);
  border-radius: var(--border-radius);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;

  button {
    background-color: var(--color-background-paper);
    color: var(--color-text-primary);
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }

  button:hover {
    background-color: var(--color-active);
  }
}
